{% extends 'mastertemplate.html' %}

{% block title %}Login Page{% endblock %}

{% block content %}
<head>
    <title>
        Login
    </title>
    <style>
        h1 {
            text-align: center;
        }

        .error { color: red;}
    </style>
</head>
<body>
    <h1>Please Login</h1>
    <form method="post">
    <table border="1" align="center">
        {% if errorMsg %}
        <tr><td colspan="2"><span class="error">{{ errorMsg }}</span></td></tr>
        {% endif %}
        <tr><td>Login</td><td><input type="text" name="username" class="btLoginButton"></td></tr>
        <tr><td>Password</td><td><input type="password" name="password"></td></tr>
        <tr><td></td><td><input type="submit" value="login" class="btLoginButton"></td></tr>
    </table>
    </form>
</body>
{% endblock %}